.Starship {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 280px;
    margin-bottom: 10px;
    background-color: #455a64;
    border-radius: 10px;
}

.Starship:hover {
    background-color: #546a76;
}

.Starship .StarshipImg {
    width: 265px;
    height: 265px;
    border-radius: 10px;
}

.Starship h5 {
    margin: 0;
}